* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}
.ham{
  display: none;
}
html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #090a1a;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 2rem 0;
  min-height: 100vh;
    float: right;
}
.subhome{
  height: 75%;
  line-height: 25px;

  box-shadow: inset 0 0 180px 180px #22264e, 0 0 180px 180px #22264e;

}
.u{
  display: inline;
}
.arrow{
  height: 10%;
  display: grid;
  justify-content: center;
  align-items: end;
}
.home{
  height: 100vh;
}
.mainhome{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.navElement {
  font-size: 30px;
  background-color: #0d0f26;
  padding: 20px;
    position: sticky;
    top: 0;
    width: 20%;
    float: left;
    height: 100vh;
    z-index: 1;
  }



.btn {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background-color: #bcc6ff;
  font-size: 30px ;
}
.skill{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 18px;
}
h3{
  color: #31008d;
}
.s {
  display: grid;
  justify-content: center;
  border: 2px solid #545ecb;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 10%;
  padding: 13%;
  background-color: #545ecb;
  font-size: 25px;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(141, 207, 240, 0.6); /* Add shadow effect */

  transition: transform 0.3s; /* Add transition for hover animation */

  list-style-type:lower-alpha; /* Add list-style-type */
}

.s:hover {
  transform: translateY(-15px); /* Move up on hover */
}


.des{
  display: grid;
  justify-content: center;
  font-size: 30px;
  color: rgb(52, 169, 219);
}
#prodes{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(52, 169, 219);
  font-size: 30px;
}
.projectClass {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5%;
  margin-left: 20%;
 
}





.mp{
  padding-top: 50px;
}
.projectsCard{
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Add shadow effect */
  margin-top: 5px;
 margin-left: 15%;
 margin-right: 15%;
 border-radius: 5%;
 transition: transform 0.3s; /* Add transition for hover animation */

 list-style-type:lower-alpha; /* Add list-style-type */
}

.projectsCard:hover{
 transform: translateY(-15px); /* Move up on hover */
}
.projectssubtitle{
    font-size: 20px;
    color: #39049c;
}
.projectsCard img{
  border-radius: 5%;
}
.projectstitle{
  font-size:20px ;
  color: #31008d;
}
.link{
  font-size:20px ;
  color:darkslateblue;
}
.pt{
  font-size:20px ;
  color:darkslateblue;
}
.pti{
  font-size:20px ;
  color:darkslateblue;
}
.gl{
  font-size:20px ;
  color:darkslateblue;
}
.contactme{
  margin-left: 25%;
  display: grid;
  justify-content: center;
}
#se{
  color:rgb(52, 169, 219);
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.font{
  font-size: 25px;
   
}
h5{
  color: black;
}
#resume{
  margin-left: 25%;
}
.c{
  font-size: 30px;
  color: rgb(52, 169, 219);
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer{
  background-color: #01001d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
position: relative;
z-index: 2;
border-radius: 30px;
box-sizing: border-box;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.footercopyw{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #0d0d26;
}
.fot{

   display: grid;
   justify-content: center;
   align-items: center;
}
.fs{
  padding: 10px;
}
.fso{
display: flex;
justify-content: center;
align-items: center;
}
tr{
  line-height: 20px; 
}
form{
  background-color: #1a004a;
  box-shadow: 0 0 10px rgba(137, 156, 251, 0.9);
  border-radius: 10%;
}
table{
padding: 20px;
padding-top: 50px;
padding-bottom: 50px;

}
#btnt{
  text-align: center;
}
#btnb{
  height: 30px;
  width: 100px;
  background-color: #0d1383;
  border-radius: 10px;
}
#btnb:hover{
  cursor: pointer;
}
input{
  background-color: #a8aef6;
}
textarea{
  background-color: #bcc6ff;
}
.linkin{
  height: 30px;
  width: 30px;
}
.git{
  width: 30px;
  height: 30px;
  color: white;
  background-color: wheat;
}
#loadingBar {
   appearance:none;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 10px;
}

#loadingBar::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;

}

#loadingBar::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*====Node for css===*/
#loadingBarN {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarN::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarN::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*====Mysql for css===*/
#loadingBarM {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarM::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarM::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*====Java for css===*/
#loadingBarJ {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarJ::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarJ::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*====github for css===*/
#loadingBarh {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarh::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarh::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*======gitlab======*/
#loadingBarl {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarl::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarl::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*=======html======*/
#loadingBarH {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarH::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarH::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*============css=====*/
#loadingBarc {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarc::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarc::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*===============javascript=======*/
#loadingBarj {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarj::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarj::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
/*=====================Figma=========*/
#loadingBarF {
  appearance:none;
 -webkit-appearance: none;
 border-radius: 10px;
 height: 10px;
}
#loadingBarF::-webkit-progress-bar {
  background-color: #eaeaea; /* Background color of the progress bar */
  border-radius: 10px;
}

#loadingBarF::-webkit-progress-value {
  background-color: #000242fc; /* Fill color of the progress bar */
  border-radius: 10px;
}
.imgf{

  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.pc {
  display: grid;
  justify-content: center;
  border: 2px solid #545ecb;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 20px;
  padding: 5%;
  background-color: #545ecb;
  font-size: px;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(141, 207, 240, 0.6); /* Add shadow effect */
}
.telegram{
  width: 30px;
  height: 30px;
}
.edu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.edu2{
  display: grid;
  justify-content: center;
  border: 2px solid #545ecb;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 5%;
  background-color: #545ecb;
font-family:'Times New Roman', Times, serif;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(141, 207, 240, 0.6); /* Add shadow effect */
}
@media screen and (max-width: 1070px){
  .navElement{
       display: flex;
       justify-content: space-between;
       height: fit-content;
       width: 100%;
       opacity: 0.8;
       position: sticky;
       clear: both;
  }
  .label{
    display: none;
  }
  .skill{
    display: grid;
    grid-template-columns: 1fr;
  }
  .main{
    width: 100%;
    padding: 0;
    clear: both;
  }
  .des{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .project{
    display: grid;
    grid-template-columns: 1fr;
  }
  .projectClass{
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .edu{
    display: grid;
    grid-template-columns: 1fr;
  }
  .contactme{
    margin-left: 0;
  }
  .pc{
    margin-right: 10%;
    margin-left: 10%;
    padding: 10px;
  }
  #resume{
    margin-left: 0;
    padding: 10px;
    margin: 10px;
  }
  .name{

  color:rgb(52, 169, 219);
  }
}
.text{
  display: grid;
  justify-content: center;
  align-items: center;
}
.name{

  color:rgb(52, 169, 219);
  }
  .inf{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .nameinf{
    font-size: 20px;
    /* color: #7b4ad6; */
    color: rgb(169, 209, 244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
  }
  /* .namein{
    font-size: 20px;
    color: #545ecb;
  } */
  .namein{
    font-size: 1.5em;
    color: aliceblue;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .namereal{
    font-size: 20px;
  }
  .i{
    padding: 50px;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 5px;
  }
  .x{
    display: none;
    width: 30px;
    height: 30px;
    color: rgb(228, 230, 251);
  }
  .img{
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .img img{
    border-radius: 50%;
    width: 17em;
    height: 17em;
    object-fit: cover;
  }
  /* img{
    border-radius: 20px;
  } */
  .navs{
    font-size: 30px;
    background-color: #0d0f26;
    padding: 20px;
      position: sticky;
      top: 0;
      width: 20%;
      float: left;
      z-index: 1;
      display: block;
  }
  #pfont{
    font-size: 1.2em;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }  
  
  @media screen and (max-width: 680px){
    :root {
      --h2-font-size: 1.3rem;
      --h3-font-size: 1rem;
      --h4-font-size: 1.15rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
    .container {
      margin-left: 0;
      margin-right: 0;
      overflow-y:hidden ;
    }
    .grid{}
    .navElement{
      display: none;
    }
    .ham{
      display: block;
    }
    .h{
      width: 25px;
      height: 3px;
      background-color: #f6f6f6;
      margin: 5px 0;
      margin-top: 10px;
      margin-left: 10px;
    }
    .s {
      display: grid;
      justify-content: center;
      border: 2px solid #545ecb;
      width: fit-content;
      width: -moz-fit-content;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 10%;
      padding: 10%;
      background-color: #545ecb;
      font-size: 25px;
      border-radius: 5%;
      box-shadow: 0 0 10px rgba(141, 207, 240, 0.6); /* Add shadow effect */
    
      transition: transform 0.3s; /* Add transition for hover animation */
    
      list-style-type:lower-alpha; /* Add list-style-type */
    }
    .footer{
      display: grid;
      grid-template-columns: 1fr;
      box-sizing: border-box;
      min-width: 100%;
    }
   
    #g{
      display: none;
    }
  }
  @media screen and (min-width: 968px) {
    :root {
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --h4-font-size: 1.3rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
 
  }